<c-card class="mb-4">
  <c-card-header>
    <h5>COVID-19 Screening</h5>
  </c-card-header>
</c-card>

<c-row>
  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts" [options]="screeningCascadeChartOptions"
        style="width: 100%; height: 400px; display: block"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts" [options]="screeningByFacilitiesChartOptions"
        style="width: 100%; height: 400px; display: block"></highcharts-chart>
    </c-card>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <div class="screenedCharts">

      <div>
        <highcharts-chart [Highcharts]="highcharts" [options]="screenedovertimechartOptions"
          style="width: 100%; height: 400px; display: block"></highcharts-chart>
      </div>

    </div>
  </c-card-body>

  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
    </c-row>
  </c-card-footer>
</c-card>