<c-card class="mb-4 view-border--none">
  <h2>COVID-19 Mortality <span class="view-margin--side--10">:</span> Screening</h2>
</c-card>

<c-row>
  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts" [options]="screeningCascadeChartOptions"
        style="width: 100%; height: 400px; display: block"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts" [options]="screeningByFacilitiesChartOptions"
        style="width: 100%; height: 400px; display: block"></highcharts-chart>
    </c-card>
  </c-col>
</c-row>

<c-card class="mb-4">
  <c-card-body>
    <div class="screenedCharts">
      <highcharts-chart [Highcharts]="highcharts" [options]="screenedovertimechartOptions"
        style="width: 100%; height: 400px; display: block"></highcharts-chart>
    </div>
  </c-card-body>
</c-card>