<c-card class="mb-4">
  <c-card-header class="view-background-color--none">
    <h5>COVID-19 Overview</h5>
  </c-card-header>
  
  <c-card-body>
    <p>
      This dashboard aims to monitor the evolution of SARS-CoV-2, identify more
      lethal strains, and track the extent of undiagnosed COVID deaths. It
      provides critical insights to inform public health policies and enhance
      prevention and control measures.
    </p>
  </c-card-body>
</c-card>

<c-row>
  <c-col [sm]="2" style="width: 20%;">
    <c-card>
      <c-card-header style="background-color: #fff; padding-left: 5px;">Screened</c-card-header>

      <c-card-body style="padding: 0; height: 105px;">
        <c-row style="margin: 0">
          <c-col [sm]="6" style="padding: 0 0 0 5px; text-align: left; margin-top: 30px;">
            <h4>{{this.covid19SummaryGroup[0][0][0]}}</h4>
          </c-col>

          <c-col [sm]="6" style="padding: 0;">
            <highcharts-chart [Highcharts]="highcharts"
              style="max-width:100%; height: 100px; display: inline-block;"></highcharts-chart>
          </c-col>
        </c-row>
      </c-card-body>

      <c-card-footer style="padding: 0 0 5px 5px; border: none; background-color: #fff;">
        <label style="font-size: 12px;">{{this.covid19SummaryGroup[0][2]}} last month</label>
      </c-card-footer>
    </c-card>
  </c-col>

  <c-col [sm]="2" style="width: 20%;">
    <c-card>
      <c-card-header style="background-color: #fff; padding-left: 5px;">Eligible</c-card-header>

      <c-card-body style="padding: 0; height: 105px;">
        <c-row style="margin: 0">
          <c-col [sm]="6" style="padding: 0 0 0 5px; text-align: left; margin-top: 50px;">
            <h4>{{this.covid19SummaryGroup[1][0][0]}}</h4>
          </c-col>

          <c-col [sm]="6" style="padding: 0;">
            <highcharts-chart [Highcharts]="highcharts" [options]="this.covid19SummaryGroup[1][1]"
              style="max-width:100%; height: 100px; display: inline-block;"></highcharts-chart>
            <p></p>
          </c-col>
        </c-row>
      </c-card-body>

      <c-card-footer style="padding: 0 0 5px 5px; border: none; background-color: #fff;">
        <label style="font-size: 12px;">{{this.covid19SummaryGroup[1][2]}} last month</label>
      </c-card-footer>
    </c-card>
  </c-col>
  
  <c-col [sm]="2" style="width: 20%;">
    <c-card>
      <c-card-header style="background-color: #fff; padding-left: 5px;">Enrolled</c-card-header>

      <c-card-body style="padding: 0; height: 105px;">
        <c-row style="margin: 0">
          <c-col [sm]="6" style="padding: 0 0 0 5px; text-align: left; margin-top: 50px;">
            <h4>{{this.covid19SummaryGroup[2][0][0]}}</h4>
          </c-col>

          <c-col [sm]="6" style="padding: 0;">
            <highcharts-chart [Highcharts]="highcharts" [options]="this.covid19SummaryGroup[2][1]"
              style="max-width:100%; height: 100px; display: inline-block;"></highcharts-chart>
            <p></p>
          </c-col>
        </c-row>
      </c-card-body>

      <c-card-footer style="padding: 0 0 5px 5px; border: none; background-color: #fff;">
        <label style="font-size: 12px;">{{this.covid19SummaryGroup[2][2]}} last month</label>
      </c-card-footer>
    </c-card>
  </c-col>
  
  <c-col [sm]="2" style="width: 20%;">
    <c-card>
      <c-card-header style="background-color: #fff; padding-left: 5px;">Tested</c-card-header>

      <c-card-body style="padding: 0; height: 105px;">
        <c-row style="margin: 0">
          <c-col [sm]="6" style="padding: 0 0 0 5px; text-align: left; margin-top: 50px;">
            <h4>{{this.covid19SummaryGroup[3][0][0]}}</h4>
          </c-col>

          <c-col [sm]="6" style="padding: 0;">
            <highcharts-chart [Highcharts]="highcharts" [options]="this.covid19SummaryGroup[3][1]"
              style="max-width:100%; height: 100px; display: inline-block;"></highcharts-chart>
            <p></p>
          </c-col>
        </c-row>
      </c-card-body>

      <c-card-footer style="padding: 0 0 5px 5px; border: none; background-color: #fff;">
        <label style="font-size: 12px;">{{this.covid19SummaryGroup[3][2]}} last month</label>
      </c-card-footer>
    </c-card>
  </c-col>
  
  <c-col [sm]="2" style="width: 20%;">
    <c-card>
      <c-card-header style="background-color: #fff; padding-left: 5px;">Positive</c-card-header>

      <c-card-body style="padding: 0; height: 105px;">
        <c-row style="margin: 0">
          <c-col [sm]="6" style="padding: 0 0 0 5px; text-align: left; margin-top: 50px;">
            <h4>{{this.covid19SummaryGroup[4][0][0]}}</h4>
          </c-col>

          <c-col [sm]="6" style="padding: 0;">
            <highcharts-chart [Highcharts]="highcharts" [options]="this.covid19SummaryGroup[4][1]"
              style="max-width:100%; height: 100px; display: inline-block;"></highcharts-chart>
            <p></p>
          </c-col>
        </c-row>
      </c-card-body>

      <c-card-footer style="padding: 0 0 5px 5px; border: none; background-color: #fff;">
        <label style="font-size: 12px;">{{this.covid19SummaryGroup[4][2]}} last month</label>
      </c-card-footer>
    </c-card>
  </c-col>
</c-row>

<br />

<c-row>
  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts" [options]="covid19CascadeChartOptions"
        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts" [options]="covid19PositivityByAgeGenderOptions"
        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts" [options]="covid19OverallPositivityByFacilityChartOptions"
        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts" [options]="covid19PositivityOvertimeOptions"
        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    </c-card>
  </c-col>
</c-row>