<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/img/kenya-court-of-arms.png',
      width: 125,
      height: 125,
      alt: 'Logo Wide'
    }"
    [brandNarrow]="{
      src: 'assets/img/kenya-court-of-arms.png',
      width: 46,
      height: 46,
      alt: 'Logo Narrow'
    }"
    routerLink="./"
  />

  <ng-scrollbar class="view-drawer--body" pointerEventsMethod="scrollbar">
    <c-sidebar-nav
      [navItems]="navItems"
      dropdownMode="close"
    />
  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  />
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar" style="" />
  <!--app-body-->
  <div class="body flex-grow-1 px-3" style="margin-top: 20px;">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet/>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer/>
</div>
