<c-card class="mb-4 view-border--none">
  <h2>COVID-19 Mortality <span class="view-margin--side--10">:</span> About</h2>

  <p>
    With funding and technical assistance from Center for Disease Control and Protection (CDC), ICAP in collaboration
    with the Ministry of Health (MOH) through the Division of Disease Surveillance and Response (DDSR) is implementing
    an Integrated Health Facility-Based Surveillance (IFBS) project in 10 health facilities in Kenya.
  </p>

  <p>
    Facility-based mortality surveillance is a key component of the Integrated Health Facility-Based Surveillance
    (IFBS) that allows for analyses of demographic, clinical, pathological and epidemiological characteristics of
    COVID-19 for people who died at the participating health facilities. Samples are collected from cadavers enrolled
    in the study through minimally invasive tissue sampling (MITS) procedures or through nasopharyngeal/oral swabs and
    tested for COVID-19.
  </p>

  <p>
    This data will rapidly increase the availability of timely and quality mortality data to aid in the computation of
    excess mortality which is useful for the determination of the public health impact of COVID-19 and other pathogens
    and syndromes of interest.
  </p>

  <p>
    This dashboard displays mortality surveillance data collected since project launch in April 2023. The dashboard
    has separate pages described as follows:
  </p>

  <br />
  <h2>Dashboard Pages</h2>
  <p>
    <strong>About</strong>
    Displays information about the mortality surveillance project and dashboard pages.
  </p>

  <p>
    <strong>Overview</strong>
    Displays summary data including snapshot visuals from each page. Here, you will find number of patients screened,
    eligible, enrolled, sampled and tested for COVID-19 and COVID-19 results.
  </p>

  <p>
    <strong>Screening</strong>
    Displays the screening cascade over time and by health facility.
  </p>

  <p>
    <strong>Enrolment</strong>
    Displays the enrollment cascade over time and by health facility.
  </p>

  <p>
    <strong>COVID-19 Results</strong>
    Displays COVID-19 positive results by age, gender, health facility and over time and by health facility.
  </p>
</c-card>