<c-card class="view-border--none">
  <h2>AFI <span class="view-margin--side--10">:</span> Overview</h2>

  <p>
    The AFI dashboard aims to: identify causes of AFI/UF inpatients/outpatients, describe epidemiological
    characteristics in Kenya, and detect emerging infections of public health importance.
  </p>
</c-card>

<br />

<c-row>
  <c-col [sm]="3">
    <c-card>
      <c-card-header class="view-background--color-none">
        Screened
      </c-card-header>

      <c-card-body style="padding: 0; height: 105px;">
        <c-row style="margin: 0">
          <c-col [sm]="6" style="padding: 0 0 0 15px; text-align: left; margin-top: 50px;">
            <label class="view-text--cascade">{{CompositeCharts['screenedCascade'].ChartSeries[0]}}</label>
          </c-col>

          <c-col [sm]="6" style="padding: 0;">
            <highcharts-chart [Highcharts]="highcharts"
              style="max-width:100%; height: 100px; display: inline-block;"></highcharts-chart>
          </c-col>
        </c-row>
      </c-card-body>

      <c-card-footer class="view-border--none view-background--color-none">
        <label style="font-size: 12px;">110,000 last month</label>
      </c-card-footer>
    </c-card>
  </c-col>

  <c-col [sm]="3">
    <c-card>
      <c-card-header class="view-background--color-none">
        Eligible
      </c-card-header>

      <c-card-body style="padding: 0; height: 105px;">
        <c-row style="margin: 0">
          <c-col [sm]="6" style="padding: 0 0 0 15px; text-align: left; margin-top: 50px;">
            <label class="view-text--cascade">{{CompositeCharts['aligibleCascade'].ChartSeries[0]}}</label>
          </c-col>

          <c-col [sm]="6" style="padding: 0;">
            <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['aligibleCascade'].ChartOptions"
              style="max-width:100%; height: 100px; display: inline-block;"></highcharts-chart>
            <p></p>
          </c-col>
        </c-row>
      </c-card-body>

      <c-card-footer class="view-border--none view-background--color-none">
        <label style="font-size: 12px;">25,000 last month</label>
      </c-card-footer>
    </c-card>
  </c-col>

  <c-col [sm]="3">
    <c-card>
      <c-card-header class="view-background--color-none">
        Enrolled
      </c-card-header>

      <c-card-body style="padding: 0; height: 105px;">
        <c-row style="margin: 0">
          <c-col [sm]="6" style="padding: 0 0 0 15px; text-align: left; margin-top: 50px;">
            <label class="view-text--cascade">{{CompositeCharts['enrolledCascade'].ChartSeries[0]}}</label>
          </c-col>

          <c-col [sm]="6" style="padding: 0;">
            <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['enrolledCascade'].ChartOptions"
              style="max-width:100%; height: 100px; display: inline-block;"></highcharts-chart>
          </c-col>
        </c-row>
      </c-card-body>

      <c-card-footer class="view-border--none view-background--color-none">
        <label style="font-size: 12px;">20,000 last month</label>
      </c-card-footer>
    </c-card>
  </c-col>

  <c-col [sm]="3">
    <c-card>
      <c-card-header class="view-background--color-none">
        Sampled
      </c-card-header>

      <c-card-body style="padding: 0; height: 105px;">
        <c-row style="margin: 0">
          <c-col [sm]="6" style="padding: 0 0 0 15px; text-align: left; margin-top: 50px;">
            <label class="view-text--cascade">{{CompositeCharts['sampledCascade'].ChartSeries[0]}}</label>
          </c-col>

          <c-col [sm]="6" style="padding: 0;">
            <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['sampledCascade'].ChartOptions"
              style="max-width:100%; height: 100px; display: inline-block;"></highcharts-chart>
          </c-col>
        </c-row>
      </c-card-body>

      <c-card-footer class="view-border--none view-background--color-none">
        <label style="font-size: 12px;">10,000 last month</label>
      </c-card-footer>
    </c-card>
  </c-col>
</c-row>

<br />
<c-row>
  <c-col [sm]="6">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['enrolledByGender'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['enrolledByAgeGender'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>
</c-row>

<br />

<c-row>
  <c-col [sm]="12">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['syndromesOverTime'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>
</c-row>

<br />

<c-row>
  <c-col [sm]="6">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['RTDResultsMalaria'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['RTDResultsLeptospirosis'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>
</c-row>

<br />

<c-row>
  <c-col [sm]="8">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['PCRResults'].ChartOptions"
        style="height: 800px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="4">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts"
        [options]="CompositeCharts['priorityIDSRReportableDiseases'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>

    <c-card>
      <highcharts-chart [Highcharts]="highcharts"
        [options]="CompositeCharts['monthlyIDSRReportableDiseases'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>
</c-row>

<br />

<c-row>
  <c-col [sm]="6">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['SARSCOV2Positivity'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card>
      <div id="geographicDistributionOfPathogen"></div>
    </c-card>
  </c-col>
</c-row>