<c-card class="view-border--none">
  <h2>SARI/ILI <span class="view-margin--side--10">:</span> About</h2>

  <p>
    Currently, influenza surveillance is ongoing at Kenyatta National Hospital(KNH), Coast General Teaching and
    Referral
    Hospital (CGTRH), Kakamega County Referral Hospital (CRH), Nakuru Country Referral Hospital(CRH), Nyeri Country
    Referral Hospital (NCRH), Marsabit Country Referral Hospital (CRH), Siaya Country Referral Hospital (SCRH), in the
    refugee camps in Kakuma and Daadab. The focus is to enroll both influenza-like illness (ILI) and severe acute
    respiratory illness (SARI).
  </p>

  <p>
    Patients presenting with respiratory symptoms at outpatient clinics (ILI) and patients admitted with respiratory
    illness (SARI) in the inpatient wards are approached to be part of the surveillance. They are consented to allow
    collection of clinical and epidemiological data as well as clinical specimens for laboratory testing for
    influenza,
    SARS-CoV-2 and possibly other respiratory pathogens.
  </p>

  <p>
    The program is currently implemented through Henry Jackson Foundation (HJF) and Kenya Medical Research Institute
    (KEMRI) to support
  </p>

  <p>
    Ministry of Health (MOH) in monitoring of this surveillance with financial support from US Centers for Disease
    Control and Prevention (CDC).
  </p>

  <p>
    This dashboard will be used to display the data collected from all the sites in chart format to allow faster
    synthesis of the data and inform a timely response as appropriate.
  </p>

  <br />
  <h2>Dashboard Pages</h2>
  <p><strong>Overview</strong> - This page provides an overview of influenza and SARS-CoV2 activity in Kenya.</p>
  <p><strong>Influenza</strong> - This page displays influenza specific data.</p>
  <p><strong>SARS-Cov-2</strong> - This page displays SARS-CoV-2 specific data.</p>
</c-card>