<c-card class="view-border--none">
  <h2>SARI/ILI <span class="view-margin--side--10">:</span> Enrolment</h2>
</c-card>

<br />
<c-row>
  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts"
        [options]="CompositeCharts['findInfluenzaPositivityByType'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card class="mb-4">
      <highcharts-chart [Highcharts]="highcharts"
        [options]="CompositeCharts['findInfluenzaPositivityBySubtype'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>
</c-row>