<c-card class="mb-4">
  <c-card-header>AFI Syndromic Cases</c-card-header>
  <c-card-body>
    <p>
      This dashboard aims to monitor the evolution of SARS-CoV-2, identify more
      lethal strains, and track the extent of undiagnosed COVID deaths. It
      provides critical insights to inform public health policies and enhance
      prevention and control measures.
    </p>
  </c-card-body>
</c-card>

<c-row>
  <c-col [sm]="6">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['syndromesByGender'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>

  <c-col [sm]="6">
    <c-card>
      <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['syndromesByFacility'].ChartOptions"
        style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
    </c-card>
  </c-col>
</c-row>

<br />

<c-col>
  <c-card>
    <highcharts-chart [Highcharts]="highcharts" [options]="CompositeCharts['syndromesOvertime'].ChartOptions"
      style="height: 400px; display: inline-block; max-width: 100%;"></highcharts-chart>
  </c-card>
</c-col>